name: Deploy

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
      - name: Build Image
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: nplay-moderation
          tags: latest ${{ github.sha }}
          containerfiles: |
            ./Dockerfile
          oci: false
      - name: Push To ghcr.io
        id: push-to-ghcr
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: ghcr.io/nplay-team/moderation-bot
          username: Kaktushose
          password: ${{ github.token }}
          extra-args: |
            --disable-content-trust
      - name: Print image url
        run: echo "Image pushed to ${{ steps.push-to-ghcr.outputs.registry-paths }}"
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Redeploy
        uses:  wirgen/portainer-stack-redeploy-action@v1.1
        with:
          portainerUrl: ${{ secrets.PORTAINER_URL }}
          accessToken: ${{ secrets.ACCESS_TOKEN }}
          stackId: ${{ secrets.STACK_ID }}
          endpointId: ${{ secrets.ENDPOINT_ID }}
